<ion-header-bar class="bar-positive">
  <h2 class="title">Confirmed DR</h2>
</ion-header-bar>
<ion-view view-title="Dashboard" cache-view="false">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="d in dr_info.dr" ng-show="d.confirmed == 1">{{ d.dr_number }}</ion-item>
    </ion-list>
  </ion-content>
</ion-view>