<ion-view view-title="Dashboard">
  <ion-content>
    <div class="list" 
      ng-show="selected_dr == 'NONE'">
        <div class="item item-text-wrap item-icon-left">
          <i class="icon ion-information-circled"></i>
          Select DR Number to view delivery details.
        </div>
      </div>
    <div ng-show="selected_dr != 'NONE'">
      <div class="list list-inset">
        <label class="item item-input item-stacked-label">
          <span class="input-label positive">DELIVERY DATE</span>
          <p class="label-value">{{ dr.delivery_date }}</p>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label positive">DR NUMBER</span>
          <p class="label-value">{{ dr.dr_number }}</p>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label positive">SO NUMBER REFERENCE</span>
          <p class="label-value">{{ dr.so_ref }}</p>
        </label>
        <div class="item item-divider"><strong>SHIP TO</strong></div><!-- DIVIDER -->
        <label class="item item-input item-stacked-label">
          <span class="input-label positive">NUMBER</span>
          <p class="label-value">{{ dr.customer.number }}</p>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label positive">NAME</span>
          <p class="label-value">{{ dr.customer.name }}</p>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label positive">ADDRESS</span>
          <p class="label-value">{{ dr.customer.address }}</p>
        </label>
        <div class="item item-divider"><strong>DELIVERY DETAILS</strong></div><!-- DIVIDER -->
        <label class="item item-input item-stacked-label">
          <span class="input-label positive">MATERIAL</span>
          <p class="label-value">{{ dr.material }}</p>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label positive">PLANNED QTY</span>
          <p class="label-value">{{ dr.planned_qty }}</p>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label positive">ACTUAL QTY</span>
          <p class="label-value">{{ dr.planned_qty - dr.rejected_qty }}</p>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label positive">REJECTED QTY</span>
          <p class="label-value"><input type="number" min="0" max="{{ dr.planned_qty }}" placeholder="Enter Rejected Quantity" ng-model="dr.rejected_qty" value="{{ dr.actual_qty }}"></p>
        </label>
        
        <label class="item item-input item-stacked-label">
          <h2 class="input-label positive">REJECTION CODE</h2>
          <div class="row no-padding-left">
            <div class="col-80">
              <p class="label-value" ng-show="!dr.rejection_code">
                Select Rejection Code
              </p>
              <p class="label-value" ng-hide="!dr.rejection_code">
                {{ dr.rejection_code.code }} ({{ dr.rejection_code.description }})
              </p>
            </div>
            <div class="col-20">
                <button class="button ion-log-out button-positive button-small no-margin button-block" ng-click="rejection_modal.show()">
                </button>
            </div>
          </div>
        </label>
        <div class="item item-divider"><strong>CONFIRMATION</strong></div><!-- DIVIDER -->
        <label class="item item-input item-stacked-label">
          <span class="input-label positive">DR CONFIRMED BY</span>
          <div class="row">
            <div class="col-80">
              <p class="label-value">{{ contact_name }}</p>
            </div>
            <div class="col-20">
                <button type="button" ng-click="openPinModel();" class="button-block no-margin button ion-key button-small button-positive">
                  PIN
                </button>
            </div>
          </div>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label positive">DR MANUAL REF</span>
          <p class="label-value"><input type="text" placeholder="DR MANUAL NUMBER REFERENCE" ng-model="dr.manual_ref"></p>
        </label>
        <div class="item item-divider">Remarks</div>
        <div class="item">
          <textarea ng-model="dr.dr_remarks" placeholder="Enter delivery remarks" rows="3" class="full-width" style="resize:none;"></textarea>
        </div>
      </div>
      <div class="padding">
        <button type="button" id="submit-btn" class="button-block button button-positive ion-ion-checkmark" ng-click="send_sms();"> Confirm Delivery</button>
        <button class="button button-stable ion-android-sync button-block">Cancel Delivery</button>
      </div>
    </div>
  </ion-content>
</ion-view>