<ion-header-bar class="bar-positive">
  <h2 class="title">DR Number : {{ selected_dr }}</h2>
  <div class="buttons">
    <button class="button button-icon ion-compose" ng-click="openModal();">
    </button>
  </div>
</ion-header-bar>
<ion-view>
  <ion-content>
    <div class="list" ng-show="selected_dr=='NONE'">
      <div class="item item-text-wrap item-icon-left">
        <i class="icon ion-information-circled"></i>
        Select DR Number to view delivery details. 
      </div>
    </div>
    <div class="padding" ng-show="selected_dr != 'NONE'">
      <div class="list">
        <div class="item item-positive large-font">Trucking Details</div><!-- DIVIDER -->
        <label class="item item-input item-stacked-label">
          <span class="input-label positive">Plate Number</span>
          <p class="label-value">{{ dr.plate_number }}</p>
        </label>
        <div class="item large-font item-positive">Delivery Details</div><!-- DIVIDER -->
        <label class="item item-input item-stacked-label">
          <span class="input-label positive">Customer Name</span>
          <p class="label-value">{{ dr.customer.name }}</p>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label positive">Phone Number</span>
          <p class="label-value">{{ dr.customer.mobile }}</p>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label positive">Delivery Address</span>
          <p class="label-value">{{ dr.customer.address }}</p>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label positive">SO Number Reference</span>
          <p class="label-value">{{ dr.so_ref }}</p>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label positive">Planned Quantity</span>
          <p class="label-value">{{ dr.planned_qty }}</p>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label positive">Type</span>
          <p class="label-value">{{ dr.type }}</p>
        </label>
        <label class="item item-input item-stacked-label" ng-show="dr.type == 'BAG'">
          <span class="input-label positive">Weigh In</span>
          <p class="label-value">{{ dr.weigh_in | number : 2 }}kg</p>
        </label>
        <label class="item item-input item-stacked-label" ng-show="dr.type == 'BAG'">
          <span class="input-label positive">Weigh Out</span>
          <p class="label-value">{{ dr.weigh_out | number : 2 }}kg</p>
        </label>
      </div>
      <div class="list" ng-show="unload_obj.unloading">
        <div class="item item-positive item-icon-right large-font" ng-click="rejection_modal.show()">
          Returns ({{ calculateRejects() }})
          <i class="icon ion-plus"></i>
        </div><!-- DIVIDER -->
        <div class="item item-button-right" ng-repeat="r in dr.rejections">
          <div class="row no-padding">
            <div class="col-75">{{ r.description }}</div>
            <div class="col-25 text-right">{{ r.quantity }}</div>
          </div>
          <button class="button button-assertive button-outline ion-close" ng-click="removeRejection(r)"></button>
        </div>
        <div class="item item-button-right item-stable" ng-show="dr.rejections.length == 0">
          No Returns
        </div>

        <div class="item item-positive large-font">Quantity</div>
        <label class="item item-input item-stacked-label">
          <span class="input-label positive">Accepted Quantity</span>
          <p class="label-value">{{ dr.planned_qty - calculateRejects() }}</p>
        </label>
        <div class="item item-positive large-font">Remarks</div>
        <div class="item">
          <textarea ng-model="dr.dr_remarks" placeholder="Enter delivery remarks" rows="3" class="full-width" style="resize:none;"></textarea>
        </div>
      </div>
      <div class="button-bar" ng-show="unload_obj.unloading">
        <button class="button button-positive" ng-click="openPinModel('accept')">Accept</button>
        <button class="button button-assertive" ng-click="openPinModel('cancel')">Cancel</button>
      </div>

      <div class="button button-block button-positive" ng-click="unload()" ng-hide="unload_obj.unloading">Unload Delivery</div>
    </div>
  </ion-content>
</ion-view>
