<ion-modal-view>
   <ion-header-bar class="bar-positive">
      <h1 class = "title">Select DR Number</h1>
      <div class="buttons">
        <button class="button button-icon icon ion-refresh" ng-click="refresh_dr()"></button>
        <button class="button button-icon icon ion-close-round" ng-click="closeModal()"></button>
      </div>
   </ion-header-bar>
   <div class="bar bar-subheader bar-positive">
      <input type="text" ng-model="search.dr" placeholder="Search DR Number" class="full-width">
    </div>
	
   <ion-content class="has-subheader" ng-controller="DrListCtrl">
      	<ion-list>
		  <ion-radio ng-repeat="num in dr_numbers | filter:search" ng-value="{{ num.dr }}" ng-click="select_dr('{{ num.dr }}');">{{ num.dr }}</ion-radio>
		</ion-list>
   </ion-content>
</ion-modal-view>