<ion-modal-view>
   <ion-header-bar class="bar-positive">
      <h1 class = "title">Enter Your Pin Code</h1>
      <div class="buttons">
        <button class="button button-icon icon ion-close-round" ng-click="closePinModel()"></button>
      </div>
   </ion-header-bar>
	
   <ion-content>
      	<div class="list list-inset">
          <label class="item item-input item-stacked-label">
            <span class="input-label positive">PIN CODE</span>
            <input type="password" placeholder="Enter Your PIN Code" ng-model="confirm.pin">
          </label>
          <button class="button button-block button-positive" ng-click="pin_entered()">
            Submit
          </button>
        </div>
   </ion-content>
</ion-modal-view>