<ion-modal-view>
   <ion-header-bar class="bar-positive">
      <h1 class = "title">Reason for Return</h1>
      <div class="buttons">
        <button class="button button-icon icon ion-close-round" ng-click="rejection_modal.hide()"></button>
      </div>
   </ion-header-bar>
	
   <ion-content>
      	<div class="list">
          <div class="item" ng-repeat="c in rejection_codes" ng-click="set_rejection_code(c)">
            <p>{{ c.description }}</p>
          </div>
        </div>
   </ion-content>
</ion-modal-view>