<ion-header-bar class="bar-positive">
  <h2 class="title">Phonebook</h2>
</ion-header-bar>
<ion-view cache-view="false">
  <ion-content>
    <div class="list list-inset">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Password</span>
        <input type="password" placeholder="Enter Administrator Password" ng-model="admin.password" inputmode="numeric" pattern="[0-9]*">
      </label>
    </div>
    <div class="padding no-padding-top">
      <div class="button button-block button-positive" ng-disabled="admin.password.length==0" ng-click="viewPhonebook()">View Phonebook</div>
    </div>
  </ion-content>
</ion-view>
