<ion-modal-view>
	<ion-header-bar class="bar-positive">
		<h1 class="title">Phonebook</h1>
		<button class="button button-icon ion-close" ng-click="hideModal()"></button>
	</ion-header-bar>
	<ion-content>
		<div class="list">
      <div class="item" ng-repeat="n in numbers">0{{ n.number }}</div>
    </div>
    <div class="padding no-padding-top">
    	<div class="button-bar">
    		<button class="button button-positive" ng-click="reload()">Refresh</button>
    	</div>
    </div>
	</ion-content>
</ion-modal-view>