<ion-header-bar class="bar-positive">
  <h2 class="title">Parking Queue</h2>
</ion-header-bar>
<ion-view>
  <ion-content>
    <div class="card text-center">
      <div class="item item-divider item-positive">Plate Number</div>
      <div class="item text-large text-bold text-positive">
        <h2>{{ truck.plate_number ? truck.plate_number : 'Not Available' }}</h2>
      </div>
    </div>
    <div class="card">
      <div class="item item-divider item-positive">
        BAG
      </div>
      <div class="{{ truck.plate_number == q.plate_number ? 'text-positive text-bold text-large item-default' : '' }} item item-icon-left" ng-repeat="q in queue.bags">
        <i class="icon ion-ios-briefcase-outline"></i>
        <h2 class="input-label">{{ q.plate_number }}</h2>
      </div>
      <div class="item" ng-show="queue.bags.length == 0 || !queue.bags.length">No records found.</div>
    </div>
    <div class="card">
      <div class="item item-divider item-positive">BULK</div>
      <div class="{{ truck.plate_number == q.plate_number ? 'text-positive text-bold text-large item-default' : '' }} item item-icon-left" ng-repeat="q in queue.bulk">
        <i class="icon {{ truck.plate_number == q.plate_number ? 'ion-custom-truck-active' : '' }} custom-icon"></i>
        <h2 class="input-label">{{ q.plate_number }}</h2>
      </div>
      <div class="item" ng-show="queue.bulk.length == 0 || !queue.bulk.length">No records found.</div>
      <!-- <div class="item" ng-show="queue.bulk.length == 0">No records found.</div> -->
    </div>
    <div class="card">
      <div class="item item-divider item-positive">Proceed to: {{ proceed_to == 'Registration' ? 'Weigh-In' : proceed_to }}</div>
      <div class="{{ truck.plate_number == q.plate_number ? 'text-positive text-bold text-large item-default' : '' }} item item-icon-left" ng-repeat="q in queue.proceed">
        <i class="icon ion-android-options"></i>
        <h2 class="input-label">{{ q.plate_number }}</h2>
      </div>
      <div class="item" ng-show="queue.proceed.length == 0 || !queue.proceed.length">No records found.</div>
    </div>
    <div class="padding">
      <button class="button button-positive button-outline button-block" ng-click="refresh_list()"> Refresh List</button>
    </div>
  </ion-content>
</ion-view>
