<ion-tabs class="has-subheader tabs-striped tabs-icon-top tabs-positive">
	<ion-tab title="Delivery" icon="ion-android-bus" href="#/tab/driver">
		<ion-nav-view name="driver-tab"></ion-nav-view>
	</ion-tab>
	<ion-tab title="Parking Queue" icon="ion-ios-compose" href="#/tab/queue">
		<ion-nav-view name="queue-tab"></ion-nav-view>
	</ion-tab>
	<ion-tab title="Confirmed" icon="ion-checkmark" href="#/tab/confirmed">
		<ion-nav-view name="confirmed-tab"></ion-nav-view>
	</ion-tab>
	<!-- <ion-tab title="Phonebook" icon="ion-android-list" href="#/tab/phonebook">
		<ion-nav-view name="phonebook-tab"></ion-nav-view>
	</ion-tab> -->
</ion-tabs>