/* Empty. Add your own CSS if you like */
.label-value {
	margin: 5px 0px 8px !important;
}
.no-margin {
	margin: 0px !important;
}
.positive {
	color : #0F7C00;
}
.button.button-positive {
    background-color: #0F7C00;
    border-color: transparent;
    color: #fff;
}
.button.button-positive.activated {
    background-color: #0F7C00;
    border-color: transparent;
    color: #fff;
}
.bar {
    background-image : none;
}
.bar.bar-positive {
    background-color: #0F7C00;
    border-color: #0F7C00 !important;
    color: #fff;
    background-image: none;
}
.tabs-striped.tabs-positive .tabs {
    background-color: #0F7C00;
    border-color: #0F7C00 !important;
    color: #fff;
}
.no-padding-left {
    padding-left : 0px;
}
.no-padding-top {
    padding-top: 0px;
}
.full-width {
    width: 100%;
}
.item.item-positive {
    background-color: #0F7C00;
    border-color: #0F7C00;
    color: #fff;
}
.item.item-positive h2 {
    color : #fff;
}
.item.active.item-positive, .item.activated.item-positive, .item-complex.active .item-content.item-positive, .item-complex.activated .item-content.item-positive, .item .item-content.active.item-positive, .item .item-content.activated.item-positive {
    border-color: #0F7C00;
    background-color: #0F7C00;
}
.button.button-positive.button-outline {
    background: transparent;
    border-color: #0f7c00;
    color: #0f7c00;
}
.button.button-positive.button-outline.active, .button.button-positive.button-outline.activated {
    background-color: #0f7c00;
    box-shadow: none;
    color: #fff;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.font-medium {
    font-size: 20px !important;
    color : #0F7C00 !important;
}
.text-positive, .text-positive h2{
    color : #0F7C00;
}
.text-assertive {
    color : #ef473a;
}
.text-bold, .text-bold h2 {
    font-weight: bold;
}
.text-gray , .text-gray h2{
    color : #a4a4a4;
}
.text-large, .text-large>.input-label, .text-large>h2 {
    font-size: 22px !important;
}
.large-font{
    font-size: 20px !important;
}
.custom-icon {
    top: 20px !important;
}
.no-padding {
    padding : 0px;
}
.item-note {
    color : #444;
    font-size: 18px;
    font-weight: bold;
}
.ion-custom-truck {
    background: url('../img/truck.png') no-repeat;
    width: 32px !important;
    height: 32px !important;
}
.ion-custom-truck-active {
    background: url('../img/truck-active.png') no-repeat;
    width: 32px !important;
    height: 32px !important;
}
.ion-custom-bag {
    background: url('../img/bag.png') no-repeat;
    width: 35px !important;
    height: 35px !important;
}
.ion-custom-bag-active {
    background: url('../img/bag-active.png') no-repeat;
    width: 35px !important;
    height: 35px !important;
}
.input-large {
    font-size: 17px !important;
    height: 43px !important;
}